* {
  margin: 0px;
  box-sizing: border-box;
}

.parent {
  margin: auto;
  background-color: aqua;
  width: 500px;
  height: 500px;
}

.child {
  width: 50%;
  height: 50%;
  background-color: brown;
  /* animation: top-to-bottom 1.3s ease-in 0.5s forwards 3 alternate; */
}

.parent:hover .child {
  /* background-color: blue; */
  /* animation: top-to-bottom 1.3s ease-in 0.5s forwards 3 alternate; */
  /* animation: top-to-bottom 1.3s ease-in 0.5s forwards infinite alternate; beskonacno */
  /* animation-play-state: paused; */
  animation: top-to-bottom 1.3s ease-in 0.5s forwards infinite alternate;
}

@keyframes top-to-bottom {
  0% {
    transform: translateX(0%);
  }

  33% {
    transform: translateX(100%);
    background-color: azure;
  }
  50% {
    transform: translate(50%, 50%);
    background-color: black;
  }
  66% {
    transform: translate(100%, 100%);
    background-color: darkgreen;
  }
  100% {
    transform: translate(0%, 100%);
    background-color: darkslategray;
  }
}
